* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
  /* limita o padding para não ultrapassar o conteúdo "pai" */
}

body {
  display: flex;
  flex-direction: column;
  background-color: #60a1e1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* ocupa todo o espaço do site */
}

header {
  display: flex;
  background-color: #60a1e1;
  margin: 30px;
}

footer {
  display: flex;
  background-color: #60a1e1;
  margin: 30px;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #60a1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display input {
  padding: 20px;
  justify-content: center;
}

#operations {
  /* display com operações */
  display: block;
  height: 80px;
  width: 100%;
  font-size: 20px;
  background-color: #a0a156;
  border: none;
  color: white;
  border-radius: 12px 12px 0px 0px;
}

#result {
  /* display com resultado final */
  display: block;
  height: 40px;
  width: 100%;
  font-size: 24px;
  background-color: #a0a156;
  border: none;
  color: white;
  border-radius: 0px 0px 12px 12px;
}

.calculator {
  color: white;
  background-color: #f2f2f2;
  height: auto;
  padding: 12px;
  border-radius: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(5, 67.2px);
  gap: 10px;
  padding: 2px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.key {
  display: inline-flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: white;
  font-weight: 300;
  font-size: 20px;
  background-color: #85ada6;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 42px;
  cursor: pointer;
}

.numbers {
  background-color: #a0a156;
}
.maths {
  background-color: #7b5c7a;
}

.key.delete {
  text-align: center;
  justify-content: center;
}

.key.equal {
  grid-row: span 2;
  height: 100%;
  background-color: #a0a156;
}

/* 
CORES:

backgroud - #60A1E1
calculadora - #F2F2F2
display - #A0A156
texto e teclas - #FFFFFF (white)

TECLAS:

    normais - #85ADA6
    números e igual - #A0A156
    operadores - #7B5C7A

HOVER:


*/
