* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #60a1e1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  background-color: #60a1e1;
  margin: 30px;
}

footer {
  display: flex;
  background-color: #60a1e1;
  margin: 30px;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #60a1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: #a0a156;
  padding: 20px;
}

.calculator {
  color: white;
  background-color: #f2f2f2;
  height: auto;
  padding: 12px;
  border-radius: 20px;
}

form {
  height: auto;
}

/* 
CORES:

backgroud - #60A1E1
calculadora - #F2F2F2
display - #A0A156
texto e teclas - #FFFFFF (white)

TECLAS:

    normais - #85ADA6
    números e igual - #A0A156
    operadores - #7B5C7A

HOVER:


*/
